.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(61, 61, 61);
    color: whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   
}
.LinkToAppComponent{
  text-decoration: none;
  color: whitesmoke;
}

.LinkToAppComponent:hover{
  text-decoration: none;
  color: rgb(71, 221, 231);
}

.LinkToMoviesComponent{
  text-decoration: none;
  color: whitesmoke;
}

.LinkToMoviesComponent:hover{
  text-decoration: none;
  color: rgb(71, 221, 231);
}
.mainreactLogo{
    width: 5vh;
    animation: App-logo-spin infinite 10s linear;      
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

