

.posterImg{
    width: 20%;
    margin: 2%;
float: right;

}
.backDropImg{
    float: left;
    margin-right: 2%;
}

.headerPage{
    background-color: #3d3d3d;
    padding: 1%;
  
}

.seriesName{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:whitesmoke;
    font-size: 50px;
    padding: 1%;
    text-align: center;
 
}

.mainPage{
    padding: 2%;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    

}

.avarageRate{
    font-weight: bold;
    color: rgb(1, 151, 1);
}

.networkLogo{
    width: 5%;
  
}

.SeasonsStyleDiv{
  
  
}


.SeasonsseriesName{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
background-color: #3d3d3d;

}

.SeasonsImg{
    width: 150px;
    float: left;
    margin-right: 2%;
    
}

@media only screen and (max-width: 900px) {
    .backDropImg{
        
        width:100%;
      
    }
  }